@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);
body
{
    color: #999;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#container-fluid {
    max-width: 980px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 20px;
    background-color: #ecf0f1;
}
/***** nav *****/
.navbar {
    padding-bottom: 0;
    border-bottom: 1px solid transparent;
    background-color: #ecf0f1;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1e1e1e !important;
    background-color: #000000; 
    border-bottom-color: #000000;
}
.navbar-toggle {
    color: red;
}

/***** main *****/
.content-text {
    background-color: #ffffff;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.content-image {
    background-color: #ffffff;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}